
<div class="jumbotron">
  <h1>Apolo</h1>
  <p class="lead">Frecda cases</p>
  <p><%= link_to "New case", new_case_path, class: "btn btn-lg btn-success" %></p>
</div>

<div class="row">
  <div class="col-lg-4 col-lg-offset-2">
    <h4>Recent 1</h4>
    <p>Donec id elit non mi porta gravida at eget metus. Maecenas faucibus mollis interdum.</p>

    <h4>Recent 2</h4>
    <p>Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Cras mattis consectetur purus sit amet fermentum.</p>

    <h4>Recent 3</h4>
    <p>Maecenas sed diam eget risus varius blandit sit amet non magna.</p>
  </div>

  <div class="col-lg-4">
    <h4>Hot 1</h4>
    <p>Donec id elit non mi porta gravida at eget metus. Maecenas faucibus mollis interdum.</p>

    <h4>Hot 2</h4>
    <p>Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Cras mattis consectetur purus sit amet fermentum.</p>

    <h4>Hot 3</h4>
    <p>Maecenas sed diam eget risus varius blandit sit amet non magna.</p>
  </div>
</div>
