<h1>User profile</h1>

<table class="table table-stripped table-hover">
  <tbody>
    <tr>
      <td>First name</td>
      <td><%= current_user.firstname %></td>
    </tr>
    <tr>
      <td>Registered on</td>
      <td><%= current_user.created_at %></td>
    </tr>
    <tr>
      <td>Authentication providers</td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td>Updates</td>
      <td><%= current_user.updates.count %></td>
    </tr>
  </tbody>

</table>
