<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Frecda Apolo</title>

    <!-- Bootstrap core CSS -->
    <%= javascript_include_tag 'welcome' %>
    <%= stylesheet_link_tag    'welcome', :media => "all" %>
  </head>

  <body>

    <div class="container">
      <%= render partial: "layouts/navigator" %>

      <%= yield %>

      <div class="footer">
        <p>&copy; Company 2013</p>
      </div>

    </div> <!-- /container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
  </body>
</html>
